{% extends "base.html" %}

{% block content %}

<h1> you want to edit your plans for {{ country.name }}</h1>

<form action="/bucketlist", method='POST'>
    <div>
        <label for="destination">Destination:</label>
        <select id="destination" name="destination" >
        {% for destination in destinations %}
        {% if country.id == destination.country.id %}
            <option value="{{ destination.id }}">
                {{ destination.name }}
            </option>
        
        {% endif %}>
        {% endfor %}
        </select>
        <br>
        <label for="country" hidden>Country:</label> 
        <input type="text" name="country" id="country" value="{{ country.id }}" hidden readonly></input>
    </div>

    <div>
        <label for="visited">Visited:</label>
        <select id="visited" name="visited">
            <option value="false">False</option>
             <option value="true">True</option>
        </select>
    </div>


    <button type="submit">edit destination</button>

</form>

{% endblock %}