{% extends "base.html" %}

{% block content %}

<main class="main-bucket-list-body">
    <hgroup>
        <h1> Planing your next big adventure...</h1>
        <p>I love cheese, especially cheese and biscuits ricotta. Cottage cheese fondue cheese and biscuits cheese triangles cheese triangles who moved my cheese cheesy feet cheese slices.</p>
        <br>
        <p class="add-button"><a href="destination/new/countries">add destination</a></p>
    </hgroup>

    {% for bucketlist in bucketlists %}
    <section class="destination-list">
        <img src="https://placebear.com/g/350/150" alt="">
        <h2>{{ bucketlist.destination.country.name }}</h2>
        <p>{{ bucketlist.destination.country.continent }}</p>
        <br>
        <h3>{{ bucketlist.destination.name }}</h3>
        <h4>Visited?</h4>
        {% if bucketlist.destination.visited == True %}
            &#10004;
            {% else %}
            &#10008;
            {% endif %}
        <div>
        <form class="delete-button" action="/bucketlist/{{ bucketlist.id }}/delete" method="POST">
            <input type="submit" value= delete >
         </form>
         <br>
         <br>
            <p class="edit-button"><a href="/destination/{{ bucketlist.destination.id }}/edit">edit trip</a></p>
        </div>
    </section>
    {% endfor %}

</main>


{% endblock %}