{% extends "base.html" %}

{% block content %}
<section class = "form-block">
    <h1> Where would you like to go...?</h1>

    {% for country in all_countries %}
    <section>
        <h4>{{ country.name }}</h4>
        <p> {{ country.continent }} </p>
        <form action="/destination/new/{{ country.id }}" method="GET">
            <input type="submit" value="Add">
        </form>
    </section>
    {% endfor %}
</section>




<!-- <form action="/destination/new/countries" method='POST'>
    <div>
        <label for="country">Country:</label>
        <input type="text" id="country" name="country" placeholder="Country Name" required autofocus>
        
        <label for="continet">Continent:</label>
        <input type="text" id="continent" name="continent" placeholder="Country Name" required autofocus>

        <button type="submit">Add Country</button>

    </div> -->





{% endblock %}