{% extends "base.html" %}

{% block content %}

<main class="country-body">

    <h1> where would you like to go...?</h1>

    {% for country in all_countries %}
    <section class="country-list">
        <hgroup>
            <h2>{{ country.name }}</h2>
            <p> {{ country.continent }} </p>
        </hgroup>
        <form action="/destination/new/{{ country.id }}" method="GET">
             <input class="add-button-3" type="submit" value="Add">
         </form>
    </section>
    {% endfor %}
</main>
{% endblock %}