body {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    color: #ffffff;
}

/* body > main {
    height: 100vh;
    width: 100vw;
} */

.block-colour {
    background-color: #dfba47;
    height: 30px;
    margin-top: 0px;
}

/* welcome page */

.header-img {
    height: auto;
    /* max-height: 5%; */
    max-width: 100%;
    /* opacity: 0.8; */
}

.image-block {
    background-color: #f8afa8;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0px;
    padding-bottom: 30px;

}

.popular-destination-img {
    /* flex: 1 0 40%; */
    height: 250px;
    width: 25%;
    border-radius: 100%;
    margin: 20px;
}

.curved{
    background-clip: border-box;
    position: relative;
    /* bottom: 0px; */
    /* justify-content: baseline; */
    width: 100%;
    /* overflow: hidden; */
    z-index: 5;
}


