<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/country/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/destination/style.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bucketlist/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bucketlist/edit.css') }}">
    
    <link href="https://fonts.googleapis.com/css2?family=Montez&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&display=swap" rel="stylesheet">

    <title> {{ title }} TravelLux</title>
</head>
<body>
    <header>
        <nav>
            <h1 class="company-logo" >TravelLux</h1>
            <ul>
                <li><a class="hover-over" href="/">Home</a></li>
                <li><a class="hover-over" href="/bucketlist">Bucket List</a></li>
                <li><a class="hover-over" href="/destination/new/countries">Add Destination</a></li>
            </ul>
        </nav>
        <div class="block-colour"></div>
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    <!-- <div class="block-colour"></div> -->
    <footer>
        created by Clementine Studios.
    </footer>

</body>
</html>