{% extends "base.html" %}


{% block content %}
<main>
    <div>
        <img class = "header-img" src= "{{ url_for('static', filename='img/pexels-alfonso-escalante-2533092.jpg') }}" alt="VW van in rockie mountain range">

        <svg class = "curved" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 318">
            <path fill="#f8afa8" fill-opacity="1" d="M0,256L48,256C96,256,192,256,288,240C384,224,480,192,576,197.3C672,203,768,245,864,229.3C960,213,1056,139,1152,122.7C1248,107,1344,149,1392,170.7L1440,192L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
        </svg>
        
    </div>

    <section class = "image-block">
        <hgroup>
            <h2> Popular countries to visit! </h2>
            <p> I love cheese, especially cheese and biscuits ricotta. Cottage cheese fondue cheese and biscuits cheese triangles cheese triangles who moved my cheese cheesy feet cheese slices.</p>
        </hgroup>
        <div >
        <img class = "popular-destination-img" src= "{{ url_for('static', filename='img/pexels-bhargava-marripati-3591074.jpg') }}" alt="Chichen Itza, Mexico">
        <img class = "popular-destination-img" src= "{{ url_for('static', filename='img/pexels-eugene-dorosh-739407.jpg') }}" alt="Paris, France">
        <img class = "popular-destination-img" src= "{{ url_for('static', filename='img/pexels-pixabay-46253.jpg') }}" alt="Japan">
        <img class = "popular-destination-img" src= "{{ url_for('static', filename='img/pexels-jaime-reimer-2662116.jpg') }}" alt="Canada">
        <img class = "popular-destination-img" src= "{{ url_for('static', filename='img/pexels-pixabay-415687.jpg') }}" alt="Germany">
        <img class = "popular-destination-img" src= "{{ url_for('static', filename='img/pexels-tyler-lastovich-1022479.jpg') }}" alt="New Zealand">
        </div>
    </section>
</main>

{% endblock %}

