{% extends "base.html" %}


{% block content %}

<div>
    <img src="https://placebear.com/g/1024/350" alt="">
</div>
<section>
    <hgroup>
        <h2> Popular countries to visit! </h2>
        <p> I love cheese, especially cheese and biscuits ricotta. Cottage cheese fondue cheese and biscuits cheese triangles cheese triangles who moved my cheese cheesy feet cheese slices.</p>
    </hgroup>

    <img src="https://placebear.com/g/400/200" alt="">
    <img src="https://placebear.com/g/400/200" alt="">
    <img src="https://placebear.com/g/400/200" alt="">
    <img src="https://placebear.com/g/400/200" alt="">
    <img src="https://placebear.com/g/400/200" alt="">
    <img src="https://placebear.com/g/400/200" alt="">
    
</section>

{% endblock %}

