{% extends "base.html" %}

{% block content %}

<h1> Choose your City</h1>

<form action="/bucketlist" method="post">
    <div>
        <label for="city">City:</label>
        <select id="city" name="city" >
        {% for city in all_cities %}
            <option value="{{ city.name }}"
            {% if city.country.id == city.id %}{% endif %}>
            {{ city.name }}
            </option>
        {% endfor %}
        </select>
    </div>

    <div>
        <label for="visited">Visited:</label>
        <select id="visited" name="visited">
             <option value="true">True</option>
             <option value="false">False</option>
        </select>
    </div>


    <button type="submit">Add Destination</button>

</form>

{% endblock %}