{% extends "base.html" %}

{% block content %}

<h1> Choose your Destination</h1>

<form action="/bucketlist" method="post">
    <div>
        <label for="destination">Destination:</label>
        <select id="destination" name="destination" >
        {% for destination in all_destinations %}
            <option value="{{ destination.name }}"
            {% if destination.country.id == destination.id %}{% endif %}>
            {{ destination.name }}
            </option>
        {% endfor %}
        </select>
    </div>

    <div>
        <label for="visited">Visited:</label>
        <select id="visited" name="visited">
             <option value="true">True</option>
             <option value="false">False</option>
        </select>
    </div>


    <button type="submit">Add Destination</button>

</form>

{% endblock %}